<!-- start custom footer snippets -->
<!--<style>.footer-col-wrapper {
    font-size: 15px;
     margin-left: -15px;
  }
  .footer-col {
    float: right;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .footer-col-3 {
    width: calc(45% - (30px / 2));
  } </style>
<div  class="footer-col-wrapper">
<div class="footer-col footer-col-3">
    <ul style="list-style-type:none">
        <li><a href="/fineprint" >Fine Print</a></li>
    </ul>
  </div>
</div> -->
<!-- end custom footer snippets -->